<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scrm.admin.customer.dao.CustomerDao" >
  <resultMap id="BaseResultMap" type="com.example.scrm.admin.customer.entity.Customer" >
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="customer_platform_type" property="customerPlatformType" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="zip" property="zip" jdbcType="VARCHAR" />
    <result column="telno" property="telno" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="last_purchase_time" property="lastPurchaseTime" jdbcType="TIMESTAMP" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="b_w_list" property="bWList" jdbcType="VARCHAR" />
    <result column="stopped" property="stopped" jdbcType="VARCHAR" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="login_place" property="loginPlace" jdbcType="VARCHAR" />
    <result column="login_browser" property="loginBrowser" jdbcType="VARCHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="prop1" property="prop1" jdbcType="VARCHAR" />
    <result column="prop2" property="prop2" jdbcType="VARCHAR" />
    <result column="prop3" property="prop3" jdbcType="VARCHAR" />
    <result column="prop4" property="prop4" jdbcType="VARCHAR" />
    <result column="prop5" property="prop5" jdbcType="VARCHAR" />
    <result column="prop6" property="prop6" jdbcType="VARCHAR" />
    <result column="sector_name" property="sectorName" jdbcType="VARCHAR" />
    <result column="organiz_name" property="organizName" jdbcType="VARCHAR" />
    <result column="load_time" property="loadTime" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>