<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scrm.organization.dao.organizationDao" >
  <resultMap id="BaseResultMap" type="com.example.scrm.organization.entity.organization" >
    <id column="organiz_name" property="organizName" jdbcType="VARCHAR" />
    <result column="organiz_type" property="organizType" jdbcType="VARCHAR" />
    <result column="organiz_no" property="organizNo" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    organiz_name, organiz_type, organiz_no, created_by, gmt_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.scrm.organization.entity.organizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organiz_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from organiz_details
    where organiz_name = #{organizName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from organiz_details
    where organiz_name = #{organizName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.scrm.organization.entity.organizationExample" >
    delete from organiz_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.scrm.organization.entity.organization" >
    insert into organiz_details (organiz_name, organiz_type, organiz_no, 
      created_by, gmt_create)
    values (#{organizName,jdbcType=VARCHAR}, #{organizType,jdbcType=VARCHAR}, #{organizNo,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.scrm.organization.entity.organization" >
    insert into organiz_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizName != null" >
        organiz_name,
      </if>
      <if test="organizType != null" >
        organiz_type,
      </if>
      <if test="organizNo != null" >
        organiz_no,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizName != null" >
        #{organizName,jdbcType=VARCHAR},
      </if>
      <if test="organizType != null" >
        #{organizType,jdbcType=VARCHAR},
      </if>
      <if test="organizNo != null" >
        #{organizNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.scrm.organization.entity.organizationExample" resultType="java.lang.Integer" >
    select count(*) from organiz_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update organiz_details
    <set >
      <if test="record.organizName != null" >
        organiz_name = #{record.organizName,jdbcType=VARCHAR},
      </if>
      <if test="record.organizType != null" >
        organiz_type = #{record.organizType,jdbcType=VARCHAR},
      </if>
      <if test="record.organizNo != null" >
        organiz_no = #{record.organizNo,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update organiz_details
    set organiz_name = #{record.organizName,jdbcType=VARCHAR},
      organiz_type = #{record.organizType,jdbcType=VARCHAR},
      organiz_no = #{record.organizNo,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.scrm.organization.entity.organization" >
    update organiz_details
    <set >
      <if test="organizType != null" >
        organiz_type = #{organizType,jdbcType=VARCHAR},
      </if>
      <if test="organizNo != null" >
        organiz_no = #{organizNo,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where organiz_name = #{organizName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.scrm.organization.entity.organization" >
    update organiz_details
    set organiz_type = #{organizType,jdbcType=VARCHAR},
      organiz_no = #{organizNo,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where organiz_name = #{organizName,jdbcType=VARCHAR}
  </update>
</mapper>