<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scrm.organization.dao.organizationDao" >
  <resultMap id="BaseResultMap" type="com.example.scrm.organization.entity.organization" >
    <id column="organiz_name" property="organizName" jdbcType="VARCHAR" />
    <result column="organiz_type" property="organizType" jdbcType="VARCHAR" />
    <result column="organiz_no" property="organizNo" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    organiz_name, organiz_type, organiz_no, created_by, gmt_create
  </sql>

  <insert id="insert" parameterType="com.example.scrm.organization.entity.organization" >
    insert into organiz_details (organiz_name, organiz_type, organiz_no, 
      created_by, gmt_create)
    values (#{organizName,jdbcType=VARCHAR}, #{organizType,jdbcType=VARCHAR}, #{organizNo,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>

</mapper>