<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scrm.sector.dao.sectorDao" >
  <resultMap id="BaseResultMap" type="com.example.scrm.sector.entity.sector" >
    <id column="sector_name" property="sectorName" jdbcType="VARCHAR" />
    <result column="sector_no" property="sectorNo" jdbcType="VARCHAR" />
    <result column="sector_type" property="sectorType" jdbcType="VARCHAR" />
    <result column="organiz_type" property="organizType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sector_name, sector_no, sector_type, organiz_type, created_by, gmt_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.scrm.sector.entity.sectorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sector_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sector_details
    where sector_name = #{sectorName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sector_details
    where sector_name = #{sectorName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.scrm.sector.entity.sectorExample" >
    delete from sector_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.scrm.sector.entity.sector" >
    insert into sector_details (sector_name, sector_no, sector_type, 
      organiz_type, created_by, gmt_create
      )
    values (#{sectorName,jdbcType=VARCHAR}, #{sectorNo,jdbcType=VARCHAR}, #{sectorType,jdbcType=VARCHAR}, 
      #{organizType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.scrm.sector.entity.sector" >
    insert into sector_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectorName != null" >
        sector_name,
      </if>
      <if test="sectorNo != null" >
        sector_no,
      </if>
      <if test="sectorType != null" >
        sector_type,
      </if>
      <if test="organizType != null" >
        organiz_type,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectorName != null" >
        #{sectorName,jdbcType=VARCHAR},
      </if>
      <if test="sectorNo != null" >
        #{sectorNo,jdbcType=VARCHAR},
      </if>
      <if test="sectorType != null" >
        #{sectorType,jdbcType=VARCHAR},
      </if>
      <if test="organizType != null" >
        #{organizType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.scrm.sector.entity.sectorExample" resultType="java.lang.Integer" >
    select count(*) from sector_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sector_details
    <set >
      <if test="record.sectorName != null" >
        sector_name = #{record.sectorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sectorNo != null" >
        sector_no = #{record.sectorNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sectorType != null" >
        sector_type = #{record.sectorType,jdbcType=VARCHAR},
      </if>
      <if test="record.organizType != null" >
        organiz_type = #{record.organizType,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sector_details
    set sector_name = #{record.sectorName,jdbcType=VARCHAR},
      sector_no = #{record.sectorNo,jdbcType=VARCHAR},
      sector_type = #{record.sectorType,jdbcType=VARCHAR},
      organiz_type = #{record.organizType,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.scrm.sector.entity.sector" >
    update sector_details
    <set >
      <if test="sectorNo != null" >
        sector_no = #{sectorNo,jdbcType=VARCHAR},
      </if>
      <if test="sectorType != null" >
        sector_type = #{sectorType,jdbcType=VARCHAR},
      </if>
      <if test="organizType != null" >
        organiz_type = #{organizType,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sector_name = #{sectorName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.scrm.sector.entity.sector" >
    update sector_details
    set sector_no = #{sectorNo,jdbcType=VARCHAR},
      sector_type = #{sectorType,jdbcType=VARCHAR},
      organiz_type = #{organizType,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where sector_name = #{sectorName,jdbcType=VARCHAR}
  </update>
</mapper>