<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scrm.sector.dao.sectorDao" >
  <resultMap id="BaseResultMap" type="com.example.scrm.sector.entity.sector" >
    <id column="sector_name" property="sectorName" jdbcType="VARCHAR" />
    <result column="sector_no" property="sectorNo" jdbcType="VARCHAR" />
    <result column="sector_type" property="sectorType" jdbcType="VARCHAR" />
    <result column="organiz_type" property="organizType" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sector_name, sector_no, sector_type, organiz_type, created_by, gmt_create
  </sql>
  <insert id="insert" parameterType="com.example.scrm.sector.entity.sector" >
    insert into sector_details (sector_name, sector_no, sector_type, 
      organiz_type, created_by, gmt_create
      )
    values (#{sectorName,jdbcType=VARCHAR}, #{sectorNo,jdbcType=VARCHAR}, #{sectorType,jdbcType=VARCHAR}, 
      #{organizType,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}
      )
  </insert>

</mapper>